<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Best PC Shop</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PCShop.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Best PC Shop</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Laptop" asp-action="Index">Laptops</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Monitor" asp-action="Index">Monitors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Keyboard" asp-action="Index">Keyboards</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Mouse" asp-action="Index">Mice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Headphone" asp-action="Index">Headphones</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light fw-bold" asp-area="" asp-controller="Microphone" asp-action="Index">Microphones</a>
						</li>
						@if ((this.User?.Identity?.IsAuthenticated ?? false) && this.User.IsInRole(Administrator))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-warning fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Admin area
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item text-dark fw-bold" href="/Administration/Account/PromoteToAdmin">Promote to admin</a></li>
								</ul>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer bg-primary">
		<div class="container text-center text-light fw-bold">
			&copy; @DateTime.UtcNow.Year - Best PC Shop
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
