<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

<h3 class="text-center mb-2">Sorry, you have reached the maximum number of active sales! (@MaxNumberOfAllowedSales active sales)</h3>
<h4 class="text-center mb-2">If you wish you can delete some of your old sales</h4>