<div class="text-center">
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-success text-white col=sm">You just made your fifth purchase!</h2>
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-warning text-black col=sm">Now you are promoted to SuperUser!</h2>

	<img src="https://as1.ftcdn.net/v2/jpg/02/80/01/64/1000_F_280016442_I5DcWCRT7JTr5Ut86a9VvqNoOfDt854G.jpg" alt="Congratulations Image">

	<br /><br />

	<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>
</div>
