<div class="text-center">
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-success text-white col=sm">You just made a great purchase!</h2>

	<img src="https://thumbs.dreamstime.com/b/illustration-calligraphic-inscription-congratulations-vector-element-design-illustration-calligraphic-inscription-149833255.jpg" style="height: 375px" alt="Congratulations Image">

	<br /><br />

	<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>
</div>
