@model User

<h3 class="mt-5">User <b><span style="color: red">@Model.FirstName @Model.LastName</span></b> with username <b><span style="color: red">@Model.UserName</span></b> and email <b><span style="color: red">@Model.Email</span></b> is now promoted to administrator</h3>

<br />

<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>