@model User

<h3 class="mt-5">User <b>@Model.FirstName @Model.LastName</b> with username <b>@Model.UserName</b> and email <b>@Model.Email</b> is now promoted to administrator</h3>

<br />

<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>