@model IEnumerable<LaptopExportViewModel>

@if ((this.User?.Identity?.IsAuthenticated ?? false) && (this.User.IsInRole(Administrator)))
{
	<div class="text-center">
		<a asp-controller="Laptop" asp-action="Add" class="btn btn-primary">Add a laptop</a>
	</div>
}

@if ((this.User?.Identity?.IsAuthenticated ?? false) && this.User.IsInRole(SuperUser))
{
	<div class="text-center">
		<a asp-controller="Laptop" asp-action="Add" class="btn btn-primary">Add a laptop</a>

		@if (Model.Any())
		{
			<a asp-controller="Laptop" asp-action="MyLaptops" class="btn btn-success">My laptops</a>
		}
	</div>
}