@model IEnumerable<LaptopDetailsExportViewModel>

@{
	ViewData["Title"] = "My laptops";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

@if (Model.Any())
{
	<div class="row">

		@foreach (var laptop in Model)
		{
			<partial name="_LaptopPartial" model="@laptop" />
		}
	</div>
}
else
{
	<h3 class="text-center mt-5">You have no laptops added yet!</h3>
}
